.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    /* Padding to accommodate the dropdown and input field */
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    /* Ensure messages don't overflow the screen */
}

.message-bubble {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.user {
    justify-content: flex-end;
}

.assistant {
    justify-content: flex-start;
}

.user ion-card,
.assistant ion-card {
    max-width: 80%;
    margin: 0;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #c4c3c3;
}

.user ion-card {
    background-color: #ffffff;
}

.assistant ion-card {
    background-color: #050505;
    color: #ffffff;
}

.message-bubble:last-child {
    margin-bottom: 5px;
    /* Avoid overlapping with footer elements */
}

ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    /* Ensure the footer is not transparent */
}

ion-toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
}

ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    flex: 1;
    /* Ensure dropdown and input share space */
}

ion-input {
    --background: #ebe5e5;
    --border-radius: 8px;
    --padding-start: 20px;
    flex: 1;
}

ion-button {
    --padding-top: 8px;
    --padding-bottom: 8px;
    background-color: black;
    flex-shrink: 0;
}

ion-select {
    /* Drop down menu doesn't overlap other elements */
    flex: 0.5;
}