<ion-content class="chat-content">
    <div class="messages">
        <div *ngFor="let message of chatHistory" [ngClass]="message.role" class="message-bubble">
            <ion-card>
                <ion-card-content>
                    <strong *ngIf="message.role === 'user'">You:</strong>
                    <strong *ngIf="message.role === 'assistant'">AI:</strong>
                    {{ message.content }}
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item>
            <ion-label>Choose an AI model</ion-label>
            <ion-select [(ngModel)]="selectedAIModel" interface="popover"
                (ionChange)="updateAIModel($event.detail.value)">
                <ion-select-option value="openai">Chat GPT</ion-select-option>
                <ion-select-option value="claude">Claude</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="userMessage" placeholder="Type a message..." class="message-input"
                (keyup.enter)="sendMessage(selectedAIModel)">
            </ion-input>
            <ion-button slot="end" (click)="sendMessage(selectedAIModel)" color="black">
                <ion-icon name="send"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-toolbar>
</ion-footer>