* {
    font-family: 'Nunito', sans-serif;
}

html,
body,
ion-app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
}

/* Dark mode default */
:root {
    --ion-background-color: #282828;
    --ion-text-color: #ffffff;
    --card-bg: #1e1e1e;
    --input-bg: #2c2c2c;
    --error-color: #ff6b6b;
    --primary-color: #4f8cff;
}
