* {
    font-family: 'Nunito', sans-serif;
}

html,
body,
ion-app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ion-content {
    --background: white;
    display: block;
    height: 100%;
    min-height: 100vh;
}