<ion-content class="home-content">
    <!-- Conversations list -->
    <ion-list>
        <ion-item *ngFor="let conv of conversations"
            (click)="router.navigate(['/chat'], { queryParams: { conversationId: conv._id } })">
            <ion-label>
                <h2>{{ conv.title }}</h2>
                <p style="color: blue;" *ngIf="conv.summary">{{ conv.summary }}</p>
                <p>Started on {{ conv.createdAt | date: 'short' }}</p>
            </ion-label>
            <ion-icon slot="end"></ion-icon>
            <ion-button fill="clear" slot="end" color="danger"
                (click)="deleteConversation(conv._id); $event.stopPropagation();">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <!-- Message to be displayed when there are no chats -->
    <ion-text color="medium" *ngIf="conversations.length === 0">
        <p style="text-align: center; margin-top: 2rem;">No conversations yet. Start a new chat!</p>
    </ion-text>

    <!-- New chat button -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="startNewChat()" color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>